.main_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.div-flex {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 50%;
}

.mat-card-title {
    padding-bottom: 50px;
}

li {
    list-style-type: none;
    text-align: center;
}