<app-menu (selectedPage)="changePage($event)" [currentPage]="page"></app-menu>
<!--<ng-container [ngSwitch]="page">
    <ng-container *ngSwitchCase="'main'">
        <app-main></app-main>
    </ng-container>
    <ng-container *ngSwitchCase="'drinks'">
        <app-drinks></app-drinks>
    </ng-container>
    <ng-container *ngSwitchCase="'application'">
        <app-application></app-application>
    </ng-container>
    <ng-container *ngSwitchCase="'reserve'">
        <app-reserve></app-reserve>
    </ng-container>
    <ng-container *ngSwitchCase="'sign-in'">
        <app-sign-in></app-sign-in>
    </ng-container>
    <ng-container *ngSwitchCase="'sign-up'">
        <app-sign-up></app-sign-up>
    </ng-container>
</ng-container> -->
<router-outlet></router-outlet>