<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="secondary">
            <button mat-icon-button fxHide.gt-md fxHide.md (click)="onToggleSidenav(sidenav)">
                <mat-icon>menu</mat-icon>
            </button>
            <div>
                Vegas Pub
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/main">Főoldal</a></li>
                    <li><a routerLink="/drinks">Itallap</a></li>
                    <li ><a routerLink="/reserve">Asztalfoglalás</a></li>
                    <li><a routerLink="/application">Versenyek</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/sign-in">Bejelentkezés</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/sign-up">Regisztráció</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/profile">Profil</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Kijelentkezés</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>