<div class="main_component">
    <div class="div-flex">
        <h1>Verseny jelentkezés</h1>
        <form [formGroup]="applicationsForm" (ngSubmit)="apply()">
            <mat-form-field>
                <mat-label>Versenyek: </mat-label>
                <mat-select formControlName="name">
                    <mat-option *ngFor="let comp of competitions" [value]="comp">{{comp.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Verseny kezdete: </mat-label>
                <input matInput [readonly]="true" type="text" formControlName="time">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Jelentkező neve: </mat-label>
                <input matInput [readonly]="true" type="text" formControlName="competitors" value="admin">
            </mat-form-field>
            <span class="buttons">
                <button mat-raised-button color="primary" type="submit">Jelentkezés</button>
            </span>
            <span class="buttons">
                <button mat-raised-button color="primary" (click)="cancelApplication()">Mégse</button>
            </span>
        </form>
    </div>
</div>