<div class="main_component">
    <div class="div-flex">
        <mat-card>
            <mat-card-title>Üdvözlünk a Vegas Pub-nál!</mat-card-title>
            <mat-card-content>
                <div>
                    <h2>Szolgáltatásaink</h2>
                </div>
                <div>
                    <h3>Pool</h3>
                    <img src="/assets/main1.jpg">
                </div>
                <div>
                    <h3>Snooker</h3>
                    <img src="/assets/main2.jpg">
                </div>
                <div>
                    <h3>Darts</h3>
                    <img src="/assets/main3.png">
                </div>
                <div>
                    <h3>Bár</h3>
                    <img src="/assets/main4.jpg">
                </div>
                <div>
                    <h3>Amatőr versenyek</h3>
                    <h4>Minden héten!</h4>
                    <p>Csütörök darts</p>
                    <p>Péntek pool</p>
                    <p>Szombat snooker</p>
                    <p>Nevezési díj egységesen 3000Ft</p>
                    <p>(Pool, snoker, darts foglalás óránként 2000Ft)</p>
                    <p>(A nevezéshez és asztalfoglaláshoz regisztráció szükséges!)</p>
                </div>
                <div>
                    <h3>Nyitvatartás</h3>
                    <p>Hétfő-Szombat: 16:00 - 02:00</p>
                    <p>Vasárnap: Zárva</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>